@using MarketingBox.Backoffice.Services.Partners


<BaseOneButtonsDialog Caption=@($"{Item.Partner.AffiliateId} [{Item.Partner.GeneralInfo.Username}]") OnClose="OnClose" ButtonCaption="Close">
    <table>
        <tr>
            <td>
                <h3>General Info</h3>
                <table>
                    <tr><td>Username</td><td class="float-left">@Item.Partner.GeneralInfo.Username</td></tr>
                    <tr><td>Phone</td><td class="float-left">@Item.Partner.GeneralInfo.Phone</td></tr>
                    <tr><td>Skype</td><td class="float-left">@Item.Partner.GeneralInfo.Skype</td></tr>
                    <tr><td>ZipCode</td><td class="float-left">@Item.Partner.GeneralInfo.ZipCode</td></tr>
                    <tr><td>Email</td><td class="float-left">@Item.Partner.GeneralInfo.Email</td></tr>
                    <tr><td>CreatedAt</td><td class="float-left">@Item.Partner.GeneralInfo.CreatedAt</td></tr>
                    <tr><td>State</td><td class="float-left">@Item.Partner.GeneralInfo.State</td></tr>
                    <tr><td>Role</td><td class="float-left">@Item.Partner.GeneralInfo.Role</td></tr>
                    <tr><td>Currency</td><td class="float-left">@Item.Partner.GeneralInfo.Currency</td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Company</h3>
                <table>
                    <tr><td>Address</td><td class="float-left">@Item.Partner.Company.Address</td></tr>
                    <tr><td>Name</td><td class="float-left">@Item.Partner.Company.Name</td></tr>
                    <tr><td>RegNumber</td><td class="float-left">@Item.Partner.Company.RegNumber</td></tr>
                    <tr><td>VatId</td><td class="float-left">@Item.Partner.Company.VatId</td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Bank</h3>
                <table>
                    <tr><td>BeneficiaryAddress</td><td class="float-left">@Item.Partner.Bank.BeneficiaryAddress</td></tr>
                    <tr><td>BeneficiaryName</td><td class="float-left">@Item.Partner.Bank.BeneficiaryName</td></tr>
                    <tr><td>BankAddress</td><td class="float-left">@Item.Partner.Bank.BankAddress</td></tr>
                    <tr><td>BankName</td><td class="float-left">@Item.Partner.Bank.BankName</td></tr>
                    <tr><td>AccountNumber</td><td class="float-left">@Item.Partner.Bank.AccountNumber</td></tr>
                    <tr><td>Swift</td><td class="float-left">@Item.Partner.Bank.Swift</td></tr>
                    <tr><td>Iban</td><td class="float-left">@Item.Partner.Bank.Iban</td></tr>
                </table>
            </td>
        </tr>

    </table>
</BaseOneButtonsDialog>

@code {

    [Parameter]
    public PartnerItem Item { get; set; }

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }
}