@using MarketingBox.Backoffice.Abstractions.Models
@using MarketingBox.Backoffice.Services.Partners

@inject IToaster ToastService;
@inject IPartnerItemManager PartnerItemManager;

<tr>
    <td>@Item.Partner.AffiliateId</td>
    <th>@Item.Partner.GeneralInfo.Username</th>
    <th>@Item.Partner.GeneralInfo.Email</th>
    <th>@Item.Partner.GeneralInfo.CreatedAt</th>
    <th>@Item.Partner.GeneralInfo.Role</th>
    <th>@Item.Partner.GeneralInfo.State</th>

    <td>
        <ul class="nav">
            <li><button type="button" class="btn-outline-info btn" @onclick="ShowDetails" >Details</button></li>
            <li><button type="button" class="btn-outline-warning btn" @onclick="ShowEdit" >Edit</button></li>
            <li><button type="button" class="btn-outline-danger btn" @onclick="ShowDelete">Delete</button></li>
        </ul>
    </td>
</tr>

@if (IsShowDetails)
{
    <PartnerDetailsDialog Item="@Item" OnCloseCallback="OnCloseDialog" />
}

@if (IsShowEdit)
{
    <div>
        <PartnerDetailsDialogEdit Item="@Item" IsCreate="false" OnCloseCallback="OnCloseEditDialog" OnUpdateCallback="OnUpdate" />
    </div>
}

@if (IsShowDelete)
{
    <div>
        <BaseTwoButtonsDialog
            Caption=@($"Delete partner {Item.Partner.AffiliateId} [{Item.Partner.GeneralInfo.Username}]")
            OnClose="OnCloseDeleteDialog"
            YesButtonCaption="Delete"
            NoButtonCaption="Cancel"
            OnSubmit="DeleteItem">
            
            <h3 class="alert-warning">Are you sure you want to delete the asset <b>@Item.Partner.AffiliateId [@Item.Partner.GeneralInfo.Username]?</b></h3>
            
        </BaseTwoButtonsDialog>
    </div>
}

@code {
    
    [Parameter]
    public PartnerItem Item { get; set; }

    [Parameter]
    public ILoaderConfiguration LoaderConfig { get; set; }
    
    [Parameter]
    public EventCallback<PartnerItem> OnDeleteCallback { get; set; }
    
    private bool IsShowDetails { get; set; }
    
    private bool IsShowEdit { get; set; }
    
    private bool IsShowDelete { get; set; }


    private void OnCloseDialog()
    {
        IsShowDetails = false;
        StateHasChanged();
    }

    private void ShowDetails()
    {
        IsShowDetails = true;
        StateHasChanged();
    }

    private void ShowEdit()
    {
        IsShowEdit = true;
        StateHasChanged();
    }

    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        StateHasChanged();
    }
    
    private async void OnUpdate(PartnerItem asset)
    {
        try
        {
            await PartnerItemManager.Update(asset);

            IsShowEdit = false;

            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "Edit partner");
        }
    }


    private void OnCloseDeleteDialog()
    {
        IsShowDelete = false;
        StateHasChanged();
    }


    private async Task DeleteItem()
    {
        IsShowDelete = false;
        await OnDeleteCallback.InvokeAsync(Item);
    }

    private void ShowDelete()
    {
        IsShowDelete = true;
        StateHasChanged();
    }
}
